@model HelloDoc.Aspnetuser;

@{
    Layout = "_Layout";
}

<div class="d-flex content flex-column justify-content-center align-items-center z-5">

    <div class="d-flex justify-content-around">
        <div class="ms-5">
            <img class="hallodoc-img" src="~/images/hallodoc.png" alt="">
        </div>

        <div id="img-btn">
            <img class="light-1" role="button" src="~/images/light.png" alt="" id="img-mode">
        </div>
    </div>

    <div class="main-1">

        <div>
            <img class="bg" src="~/images/back-1.png" alt="">
        </div>

        <form asp-controller="CredentialAdmin" asp-action="ResetPasswordBtn" method="post">

            <h2 class="text-center mt-2">
                Reset Your Password
            </h2>
            <div class="position-relative">
                <input type="text" asp-for="Id" value="@Model.Id" hidden/>
                <div class="form-floating">
                    <input type="password" asp-for="Passwordhash" class="form-control shadow-none mt-3 bg-transparent"
                           placeholder="Password" id="pswd" required>
                    <label class="FloatingInput" for="Name">Password</label>
                </div>

                <div style="top: 28%; position: absolute; right: 3%;" onclick="hideviewpswd()">
                    <i class="bi bi-eye-fill" role="button" id="eye-icon"></i>
                </div>
            </div>


            <div class="position-relative">
                <div class="form-floating">
                    <input type="password" class="form-control shadow-none mt-3 bg-transparent"
                           placeholder="Password" id="pswd1" required>
                    <label class="FloatingInput" for="Name">Confirm Password</label>

                </div>
                <div style="top: 28%; position: absolute; right: 3%;" onclick="hideviewpswd1()">
                    <i class="bi bi-eye-fill" role="button" id="eye-icon1"></i>
                </div>
            </div>

            <div class="mt-3">
                <div>

                    <button class="btn w-100 border-0 fw-medium resetadminpassword" style="background-color: #00b8e6; color: white;" type="button">
                        Reset
                    </button>

                </div>


            </div>
        </form>
    </div>


    <div class="d-flex flex-row fw-medium small position-absolute" id="terms-1">
        <span>Terms of Conditions &nbsp;</span><span>|</span><span>&nbsp;&nbsp;Privacy Policy</span>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    const eyeicon = document.getElementById('eye-icon')
    const password = document.getElementById('pswd')
    function hideviewpswd() {
        if (password.type === "password") {
            eyeicon.classList.replace('bi-eye-fill', 'bi-eye-slash-fill')
            password.type = "text"
        }
        else {
            eyeicon.classList.replace('bi-eye-slash-fill', 'bi-eye-fill')
            password.type = "password"

        }

    }

    const eyeicon1 = document.getElementById('eye-icon1')
    const password1 = document.getElementById('pswd1')
    function hideviewpswd1() {
        if (password1.type === "password") {
            eyeicon1.classList.replace('bi-eye-fill', 'bi-eye-slash-fill')
            password1.type = "text"
        }
        else {
            eyeicon1.classList.replace('bi-eye-slash-fill', 'bi-eye-fill')
            password1.type = "password"

        }
    }

    $('.resetadminpassword').on('click', function () {
        var password = $("#pswd").val();
        var confirmPassword = $("#pswd1").val();
        var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
        } else if (!regex.test(password)) {
            alert("Password must contain at least one uppercase letter, one lowercase letter, and one number, and be at least 8 characters long.");
        } else {
            $(this).closest('form').submit();
        }
    })

</script>

