@{
    Layout = "_dashboard";
}

<Partial name="notification" />

@model HelloDoc.ViewModels.patient_dashboard;

@*modal when new request created*@


<div class="tab-content container-fluid" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

        <div class="container-fluid pb-5 mb-5">
            <div class="px-4">

                <div class="d-flex align-items-center py-2">
                    <div class="h5 fw-bold">Medical History </div>
                </div>
                <div class="bglight rounded p-3 shadow" id="content">
                    <div class="d-flex justify-content-end mb-1">
                        <a class="text-decoration-none">

                            <button class="d-flex text-info border border-info rounded align-item-center p-1 px-2 bg-transparent" data-toggle="modal" data-target="#exampleModalCenter" type="button" class="btn btn-primary modal-dialog modal-dialog-centered" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="plusimg"><i class="bi bi-plus-lg"></i></div>
                                <div class="cnr"><span>&nbsp;Create New request</span></div>
                            </button>
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table" id="dtBasicExample">
                            <thead class="thead-light">
                                <tr class="table-active">
                                    <th scope="col">Created Date</th>
                                    <th scope="col">Current Status</th>
                                    <th scope="col">Document</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.requests)
                                {
                                    <tr>
                                        <td>@m.Createddate.ToString("MMM dd , yyyy")</td>
                                        <td>@Model.StatusFind(m.Status)</td>
                                        <td>
                                            <a asp-action="viewdoc" asp-controller="Patient" class="btn btn-outline-info" asp-route-requestid="@m.Requestid">
                                                @m.Requestwisefiles.Count() Document
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Create New Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="redirect" asp-controller="Patient" method="post">
                    <p class="mt-3 ms-3 text-secondary">Here, I want to create new request for...</p>
                    <div class="modal-body d-flex justify-content-center">
                        <div class="px-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" value="me" autocomplete="off" checked>
                            <label class="btn btn-outline-info" for="success-outlined">Me</label>
                        </div>
                        <div class="px-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" value="someone" autocomplete="off">
                            <label class="btn btn-outline-info" for="danger-outlined">Someone else</label>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-info" onclick="redirect()" type="submit" role="button">Continue</button>
                        <button class="btn border border-1 border-info text-info" data-bs-dismiss="modal" role="button" type="button">Close</button>
                    </div>
                </form>



            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        <div class="container-fluid ">
            <div class="form-margin">
                <h5 class="ms-2">User Profile</h5>

                <form id="thisform" asp-controller="Patient" asp-action="ydit">
                    <div class="border rounded-2 shadow row px-3">
                        <h6 class="pt-3">General Information</h6>

                        <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-floating ">
                                <input type="text" asp-for="user.Firstname" class="form-control shadow-none" placeholder="First Name" disabled>
                                <label class="FloatingInput" for="Name">First Name</label>
                            </div>
                        </div>

                        <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-floating ">
                                <input type="text" asp-for="user.Lastname" class="form-control shadow-none" placeholder="Last Name" disabled>
                                <label class="FloatingInput" for="Name">Last Name</label>
                            </div>
                        </div>

                        <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-floating ">
                                <input type="date" asp-for="user.Modifieddate" class="form-control shadow-none"
                                       placeholder="Date Of Birth" disabled>
                                <label class="FloatingInput" for="Name">Date Of Birth</label>
                            </div>
                        </div>

                        <h6 class="pt-3 mt-2">Contact Information</h6>

                        @*<div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                        <div class="telephone rounded form-floating">
                        <div class="input-group d-flex align-items-center rounded ">
                        <input type="tel" asp-for="user.Aspnetuser.Phonenumber" id="tel" class="form-control" placeholder="" disabled>
                        </div>
                        </div>
                        </div>*@

                        <div class="col-lg-2 mt-2">
                            <div class="form-floating">
                                <select class="form-select form-control shadow-none" aria-label="Default select example">
                                    <option selected>Mobile</option>
                                    <option value="1">Phone</option>
                                </select>
                                <label for="floatingPassword" class="form-label">Type</label>

                            </div>
                        </div>

                        <div class="col-lg-4 mt-2">
                            <div class="telephone rounded form-floating">
                                <div class="input-group d-flex align-items-center rounded ">
                                    <input type="tel" id="tel" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>


                        <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-floating ">
                                <input type="email" asp-for="user.Email" class="form-control shadow-none " placeholder="Email" id="patientEmail" disabled>
                                <label class="FloatingInput" for="Name">Email</label>
                            </div>
                        </div>

                        <h6 class="pt-3 mt-2">Location Information</h6>

                        <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                            <div class="form-floating ">
                                <input type="text" asp-for="user.Street" class="form-control shadow-none " placeholder="Street" disabled>
                                <label class="FloatingInput" for="Name">Street</label>
                            </div>
                        </div>

                        <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                            <div class="form-floating ">
                                <input type="text" asp-for="user.City" class="form-control shadow-none " placeholder="City" disabled>
                                <label class="FloatingInput" for="Name">City</label>
                            </div>
                        </div>

                        <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-floating ">
                                <input type="text" asp-for="user.State" class="form-control shadow-none " placeholder="State" disabled>
                                <label class="FloatingInput" for="Name">State</label>
                            </div>
                        </div>

                        <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-floating">
                                <input type="text" asp-for="user.Zip" class="form-control shadow-none " placeholder="Zip Code" disabled>
                                <label class="FloatingInput" for="Name">Zip Code</label>
                            </div>
                        </div>

                        <div class="mr-3 mt-3 mb-3 justify-content-end d-flex">
                            <a id="editButton" role="button" class="border border-0 text-white sub rounded-2 px-3 py-2 text-decoration-none">
                                Edit
                            </a>

                            <button id="saveButton" type="submit" class="border border-0 text-white sub rounded-2 px-3 py-2 text-decoration-none" hidden>
                                Save
                            </button>
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable(
            //info: true,
            //ordering: true,
            //paging: true,
            //searching: true
        );
    });

    $(document).ready(function () {
        $('#editButton').click(function () {
            // Remove disabled attribute to make inputs editable
            // $('#name').prop('disabled', false);
            // $('#age').prop('disabled', false);
            $('input[type="text"]').removeAttr('disabled', false);
            $('input[type="date"]').removeAttr('disabled', false);
            $('input[type="tel"]').removeAttr('disabled', false);
            // Hide the edit button after clicking it
            $(this).hide();
            $('#saveButton').removeAttr('hidden', false);
        });
    });

</script>


