@using Services.Viewmodels;
@model AdminDashboardViewModel;



<div class="container p-sm-5 my-sm-5 my-2 ">
    <h4>
        To provide best medical service, we cannot determine the cost right away. If you agree to our service, so we will provide care and follow-up until all care is completed. So with this points, if you like us to provide care to you click on "Agree" and we'll get started immediately, if you do not agree simply click "Cancel".
    </h4>
    <input type="number" asp-for="requestid" class="requestid" />
    <div class="d-flex justify-content-center my-5 ">
        <button type="button" class="btn btn-success m-sm-5 m-2 px-4 rounded-3 shadow Iagree" id="iagreee">
            I Agree
        </button>
        <button type="button" class="btn btn-danger m-sm-5 m-2 px-4 rounded-3 shadow canclebtn" data-toggle="modal" data-target="#CancleModalForSendAgreement">
            Cancle
        </button>


    </div>
</div>


<div class="modal fade rounded-3 shadow" id="CancleModalForSendAgreement" tabindex="-1" role="dialog" aria-labelledby="CancleModalForSendAgreement" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Cancel Confirmation</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form asp-action="cancelCaseModal" method="post">
                <div class="modal-body">
                    <input type="number" class="requestid" name="id" value="@Model.requestid" />
                    <h6 class="my-3 text-secondary fw-normal">Patient Name: <span class="text-info fw-normal pname">@Model.PatientNameForAgreement</span> </h6>

                    <div class="my-2 form-floating">

                        <textarea class="form-control shadow-none" asp-for="blocknotes"
                                  placeholder="Provide Additional Note"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea" class="text-secondary">Provide Additional Note</label>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" value="submit" class="btn btn-info text-white">Confirm</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
    $('.Iagree').on('click', function (e) {
        var requestid = $('.requestid').val();
        console.log("he3llo");
        $.ajax({
            url: '/Home/IAgreeSendAgreement',
            type: 'POST',
            data: { "requestid": requestid },
            success: function (data) {
                window.location.href = "https://localhost:44300/";
            }

        })
    });

    $('.canclebtn').on('click', function (e) {
      
        var requestid = $('.requestid').val();
        console.log(requestid);
        $('.requestid').val(requestid);
      
    });

</script>
