@using Services.Viewmodels

@model ShiftForReviewModel;

<div id="requestedshift-div">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <h4>Requested Shifts</h4>
        <a asp-controller="Admin" asp-action="Admindashboard" class="text-decoration-none">
            <span class="back-btn p-2" style="color: #00b8e6;">&lt;Back</span>
        </a>
    </div>


    <div class="mt-3 bg-white shadow rounded-3">

        <div class="d-flex justify-content-between p-2">
            <div class="d-flex">
                <select name="regionname" id="schedulingregion" class="form-select shadow-none mt-3">
                    <option class="regionselect" selected value="">All Region</option>

                    @foreach (var item in Model.regions)
                    {
                        <option class="regionselect" value="@item.Regionid" itemid="@item.Regionid">@item.Name</option>

                    }
                </select>
            </div>
            <div class="d-flex">
                <button class="p-2 mx-2 text-white btn-info border-0 shadow-none rounded d-flex align-items-center">
                    <span class="d-none d-lg-block ps-2">View Current Month Shift</span>
                </button>
                <button class="p-2 mx-2 text-white rounded btn-info border-0 shadow-none d-flex align-items-center" value="approve" id="approve-selected-requestedshift">
                    <span class="d-none d-lg-block ps-2">Approved Selected</span>
                </button>
                <button class="p-2 ms-2 text-white rounded btn-danger border-0 shadow-none d-flex align-items-center" value="delete" id="delete-selected-requestedshift">
                    <span class="d-none d-lg-block ps-2">Delete Selected</span>
                </button>
            </div>
        </div>


        <div class="table-responsive" id="requestshifttable">

          
        </div>

        <div class="d-flex justify-content-end" id="paginationButtons"></div>
    </div>
    <div class="d-none" id="currentDateValue">
        @DateTime.Now.Date.ToString("MMM dd yyyy")
    </div>
</div>


<script>

    var regionid;
    var status;
    var currentPartial = "";

    var currentPartial = localStorage.getItem('currentPartial')
    var filterDate = localStorage.getItem('filterDate')
  

    loadStaff(1)


    var pageSize;
    function loadStaff(page) {


        $.ajax({
            url: '/Scheduling/RequestedShiftsCount',
            data: {
                currentPartial: currentPartial, filterDate: filterDate, 'regionid': regionid
            },
            async: false,
            success: function (response) {
                // Update the staffContainer with the retrieved staff details
                pageSize = 10; // Customize your page size here
                var totalCount = response;
                // Calculate the total number of pages
                var totalPages = Math.ceil(totalCount / pageSize);
                $('#paginationButtons').html("")
                for (var i = 1; i <= totalPages; i++) {
                    $('#paginationButtons').append('<button class="mx-1 btn-info" onclick="loadStaff(' + i + ')">Page ' + i + '</button>');
                }

            },
            error: function (status, xhr, error) {
                console.error(error)
            }
        });




        // Make an AJAX request to get staff data for the specified page
        $.ajax({
            url: '/Scheduling/RequestedShiftsPagination',
            async: false,

            data: {
                currentPartial: currentPartial, filterDate: filterDate, 'regionid': regionid, page: page, pageSize: pageSize
            },
            success: function (response) {
                // Update the staffContainer with the retrieved staff details
                $('#requestshifttable').html(response)

            },
            error: function (status, xhr, error) {
                console.error(error)
            }
        });
    }


    $("#header-checkbox-reviewshift").change(function () {
        $(".individual-checkbox-reviewshift").prop("checked", this.checked);
        console.log("run check")
    });



    $('#approve-selected-requestedshift,#delete-selected-requestedshift').click(function () {

        var selectedshiftvalues = [];
        $(".individual-checkbox-reviewshift:checked").each(function () {
            selectedshiftvalues.push($(this).val());
        });

        var clickvalue = $(this).val();

        console.log(selectedshiftvalues)

        $.ajax({
            url: '/Scheduling/ApproveSelectedShift',
            data: { selectedshiftvalues: selectedshiftvalues, clickvalue: clickvalue },
            method: 'POST',
            success: function (response) {
                $('#scheduling-div').html(response);

            },
            error: function (status, xhr, error) {
                console.error(error)
            }
        });
    });
</script>