@{
    Layout = "rpstyle";
}
@model HelloDoc.ViewModels.family;

@Html.Partial("notification");

<div class="container mt-3">

    <div class="d-flex justify-content-between mt-2">
        <div class="d-flex">
            <h3>Submit Information</h3>
        </div>

        <div>
            <a asp-action="submitrequest" asp-controller="Home" class="text-decoration-none">
                <span class="back-btn small" style="color: #00b8e6;">&lt;Back</span>
            </a>
        </div>

    </div>

    <div class=" border border-0 shadow rounded-1 px-3 py-2 mt-2 mb-5" id="content-color">
        <h6>Family/Friend Information</h6>
        <form asp-action="Family" asp-controller="CreateFamilyFriend" method="post" enctype="multipart/form-data">
            <div class="mt-3 d-flex row">

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" asp-for="FirstName" class="form-control shadow-none " placeholder="First Name">
                        <label class="FloatingInput" for="Name">Your First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" asp-for="LastName" class="form-control shadow-none " placeholder="Last Name">
                        <label class="FloatingInput" for="Name">Your Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="telephone rounded form-floating">
                        <div class="input-group d-flex align-items-center rounded ">
                            <input type="tel" asp-for="PhoneNumber" id="tel" class="form-control" placeholder="">
                        </div>
                    </div>
                    <span asp-validation-for="PhoneNumber" class="text-danger small"></span>

                </div>
                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="form-floating ">
                        <input type="email" asp-for="Email" class="form-control shadow-none " placeholder="Email">
                        <label class="FloatingInput" for="Name">Your Email</label>
                        <span asp-validation-for="Email" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" asp-for="RelationWithPatient" class="form-control shadow-none "
                               placeholder="Relation With Patient">
                        <label class="FloatingInput" for="Name">Relation With Patient</label>
                        <span asp-validation-for="RelationWithPatient" class="text-danger small"></span>

                    </div>
                </div>



                <h6 class="mt-3">Patient Information</h6>

                <div class="p-2 col-xl-12">
                    <div class="form-floating">
                        <div class="form-floating">
                            <textarea class="form-control shadow-none " asp-for="Symptoms"
                                      placeholder="Enter Brief Details Of Symptomps(Optional)"
                                      style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Enter Brief Details Of Symptomps(Optional)</label>
                            <span asp-validation-for="Symptoms" class="text-danger small"></span>

                        </div>
                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" asp-for="PFirstName" class="form-control shadow-none " placeholder="First Name">
                        <label class="FloatingInput" for="Name">First Name</label>
                        <span asp-validation-for="PFirstName" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" asp-for="PLastName" class="form-control shadow-none " placeholder="Last Name">
                        <label class="FloatingInput" for="Name">Last Name</label>
                        <span asp-validation-for="PLastName" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        @{
                            string max = DateTime.Now.ToString("yyyy-MM-dd");
                        }
                        <input type="date" asp-for="PDOB" class="form-control shadow-none  date-iconDark"
                               placeholder="Date Of Birth" id="date-icon" max="@max">
                        <label class="FloatingInput" for="Name">Date Of Birth</label>
                        <span asp-validation-for="PDOB" class="text-danger small"></span>

                    </div>
                </div>

                <h6 class="mt-3">Patient Contact Information</h6>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="form-floating ">
                        <input type="email" id="email_familyfrnd" asp-for="PEmail" class="form-control shadow-none " placeholder="Email">
                        <label class="FloatingInput" for="Name">Email</label>
                        <span asp-validation-for="PEmail" id="email_spanfamilyfrnd" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="telephone rounded form-floating">
                        <div class="input-group d-flex align-items-center rounded ">
                            <input type="tel" asp-for="PPhoneNumber" id="tel1" class="form-control" placeholder="(201) 555-0123">
                        </div>
                    </div>
                    <span asp-validation-for="PPhoneNumber" class="text-danger small"></span>

                </div>

                <h6 class="mt-3">Patient Location</h6>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="form-floating ">
                        <input type="text" asp-for="Street" class="form-control shadow-none " placeholder="Street">
                        <label class="FloatingInput" for="Name">Street</label>
                        <span asp-validation-for="Street" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="form-floating ">
                        <input type="text" asp-for="City" class="form-control shadow-none " placeholder="City">
                        <label class="FloatingInput" for="Name">City</label>
                        <span asp-validation-for="City" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" asp-for="State" class="form-control shadow-none " placeholder="State">
                        <label class="FloatingInput" for="Name">State</label>
                        <span asp-validation-for="State" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" asp-for="ZipCode" class="form-control shadow-none " placeholder="Zip Code">
                        <label class="FloatingInput" for="Name">Zip Code</label>
                        <span asp-validation-for="ZipCode" class="text-danger small"></span>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" class="form-control shadow-none " asp-for="Room"
                               placeholder="Room # / Suite (Optional)">
                        <label class="FloatingInput" for="Name">Room # / Suite (Optional)</label>
                        <span asp-validation-for="Room" class="text-danger small"></span>

                    </div>
                </div>

                <h6 class="mt-3">(Optional) Upload Photo or Document</h6>

                <div class="mt-1">
                    <div class="row d-flex">
                        <div class="p-2 col-12 ">
                            <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv">
                                <div class="px-3">
                                    @*<lable class="choosenfile text-dark" id="file-chosen">No item selected</lable>*@
                                    <input type="text" style="width:10vw;" id="file-chosen" class="border border-0" placeholder="No item selected" disabled />
                                </div>
                                <div role="button" class="uploadbtn p-2 d-flex">
                                    <input type="file" asp-for="FileName" id="actual-btn" multiple hidden />
                                    <label role="button" for="actual-btn" class="d-flex align-items-center">
                                        <i class="bi bi-cloud-arrow-up p-2"></i>
                                        <div>Upload</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="justify-content-end d-flex">
                    <div class="mx-3">
                        <button type="button" id="submit_family" class="border border-0 text-white sub rounded-2 px-3 py-2 small">
                            Submit
                        </button>
                    </div>
                    <div>
                        <button type="reset" class="can rounded-2 px-3 py-2 small bg-white">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="fixed-bottom navbar bg-dark d-flex justify-content-end" id="terms">
    <div class="d-flex text-light fw-normal small p-2 mx-3 footer">
        <span>Terms of Conditions &nbsp;</span><span>|</span><span>&nbsp;&nbsp;Privacy Policy</span>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script>

    const phoneInputField1 = document.querySelector("#tel1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    swal("Information",
        "When Submitting the request, you must provide the correct contact information for the patient or responsibly party.Failure to provide the correct email and phone number will delay the service or be declined.",
        "warning", {
        closeOnClickOutside: true,
    });

    $('#submit_family').on('click', function () {

        var email = $('#email_familyfrnd').val();
        var regexemail = /^\w+@@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
        if (email == "") {
            $('#email_spanfamilyfrnd').html("Please Enter Email")
        }
        else if (!regexemail.test(email)) {

            $('#email_spanfamilyfrnd').html("Please Enter Valid Email")
        }
        else {
            $.ajax({
                url: '/CreateFamilyFriend/EmailValidate',
                data: { email },
                async: false,
                success: function (response) {
                    console.log(response)
                    if (response) {
                        document.getElementById('submit_family').type = "submit";
                        $('#submit_family').click();
                    } else {
                        $.ajax({
                            url: '/CreateFamilyFriend/CreateUserSendMail',
                            data: { email: email },
                            async: false,
                            success: function (data) {
                                Swal.fire({
                                    icon: "success",
                                    title: "User Not Exist",
                                    text: "Create User Account Page Link Sent on Patient email, First Create account and then try to submit this form"
                                });
                            }
                        });
                        //Swal.fire({
                        //    icon: "error",
                        //    title: "First Create Your Account",
                        //    text: "Your account is not exist!, Account Creation Link will be sent to your email.",
                        //});
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

    });
</script>
