@{
    Layout = "rpstyle";
}
@model HelloDoc.DataModels.Aspnetuser;

<div class="container mt-3">

    <div class="d-flex justify-content-between mt-2">
        <div class="d-flex">
            <h3>Submit Information</h3>
        </div>

        <div>
            <!-- <a href="../submitrequest.html"
                class="d-flex text-decoration-none align-items-center border border-0 bg-transparent"> -->
            <!-- <div class="d-flex">
                <img class="back" src="../images/back.png" alt="">
            </div> -->
            <a asp-controller="Home" asp-action="submitrequest" class="text-decoration-none">
                <span class="back-btn small" style="color: #00b8e6;">&lt;Back</span>
            </a>
            <!-- </a> -->
        </div>
    </div>

    <div class="border border-0 shadow rounded-1 px-3 py-2 mt-2 mb-5" id="content-color">
        <h6>Patient Information</h6>
        <form asp-action="CreatePatient" asp-controller="PatientRegister">
            <div class="mt-3 d-flex row">
                <div class="p-2 col-xl-12">
                    <div class="form-floating">
                        <div class="form-floating">
                            <textarea class="form-control shadow-none"
                                      placeholder="Enter Brief Details Of Symptomps(Optional)"
                                      style="height: 100px" ></textarea>
                            <label for="floatingTextarea2">Enter Brief Details Of Symptomps(Optional)</label>
                        </div>
                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" asp-for="Username" class="form-control shadow-none" placeholder="First Name">
                        <label class="FloatingInput" for="Name">First Name</label>
                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" class="form-control shadow-none" placeholder="Last Name">
                        <label class="FloatingInput" for="Name">Last Name</label>
                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="date" class="form-control shadow-none"
                               placeholder="Date Of Birth">
                        <label class="FloatingInput" for="Name">Date Of Birth</label>
                    </div>
                </div>

                <h6 class="mt-3">Patient Contact Information</h6>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="form-floating ">
                        <input type="email" asp-for="Email" class="form-control shadow-none " placeholder="Email">
                        <label class="FloatingInput" for="Name">Email</label>
                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="telephone rounded form-floating">
                        <div class="input-group d-flex align-items-center rounded ">
                            <input type="tel" asp-for="Phonenumber" id="tel" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>


                <h6 class="mt-3">Patient Location</h6>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="form-floating ">
                        <input type="text" class="form-control shadow-none " placeholder="Street">
                        <label class="FloatingInput" for="Name">Street</label>
                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                    <div class="form-floating ">
                        <input type="text" class="form-control shadow-none " placeholder="City">
                        <label class="FloatingInput" for="Name">City</label>
                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" class="form-control shadow-none " placeholder="State">
                        <label class="FloatingInput" for="Name">State</label>
                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" class="form-control shadow-none " placeholder="Zip Code">
                        <label class="FloatingInput" for="Name">Zip Code</label>
                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" class="form-control shadow-none "
                               placeholder="Room # / Suite (Optional)">
                        <label class="FloatingInput" for="Name">Room # / Suite (Optional)</label>
                    </div>
                </div>

                <h6 class="mt-3">(Optional) Upload Photo or Document</h6>

                <div class="mt-1">
                    <div class="row d-flex">
                        <div class="p-2 col-12 ">
                            <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv">
                                <div class="px-3">
                                    <label class="choosenfile text-dark small" id="file-chosen">No item selected</label>
                                </div>
                                <div role="button" class="uploadbtn p-2 d-flex">
                                    <input type="file" id="actual-btn" hidden />
                                    <label role="button" for="actual-btn" class="d-flex align-items-center">
                                        <i class="bi bi-cloud-arrow-up p-2"></i><div>Upload</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="justify-content-end d-flex">
                    <div class="mx-3">
                        <button type="submit" class="border border-0 text-white sub rounded-2 px-3 py-2 small">
                            Submit
                        </button>
                    </div>
                    <div>
                        <button type="reset" class="can rounded-2 px-3 py-2 small bg-white">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="fixed-bottom navbar bg-dark d-flex justify-content-end" id="terms">
    <div class="d-flex text-light fw-normal small p-2 mx-3 footer">
        <span>Terms of Conditions &nbsp;</span><span>|</span><span>&nbsp;&nbsp;Privacy Policy</span>
    </div>
</div>


<script>
    swal("Information",
        "When Submitting the request, you must provide the correct contact information for the patient or responsibly party.Failure to provide the correct email and phone number will delay the service or be declined.",
        "warning", {
        closeOnClickOutside: true,
    });
</script>