
<h2>
    kjbdfjaerkbnwirngf
</h2>

<div class="modal fade" id="downloadencounter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Transfer Request</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <small>Encounter form finalized successfully.</small>
               <div>
                   <button class="btn-info download_encounter">
                       Download
                   </button>
               </div>
            </div>

        </div>
    </div>
</div>
@*
<script>
    $('.download_encounter').on('click',function(){


    })
</script>*@
