@using Services.Viewmodels;
@model EmailLogViewModel
@{
    Layout = "header_dashboard";
}

<div class="container-fluid pb-4 px-0 px-lg-5 mt-4" id="recordsmaindiv">
    <div class="my-3 d-flex justify-content-between">
        <h4 class="fw-bold">Email Log</h4>
    </div>
    <div class="container-fluid shadow px-3 py-4 bg-white">
        <div class="row d-flex">
            <div class="col-md-2">
                <div class="dropdown h-100 form-floating" style="width:clamp(200px, 100%, 100%);">
                    <select name="requeststatus" class="form-select shadow-none border-secondary h-100" id="RoleFilterEmailLog">
                        <option value="0" selected>All</option>
                        @foreach (var item in Model.AspNetRoleList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <label class="FloatingInput">Search By Role</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-floating">
                    <input id="ReceiverNameEmailLog" class="form-control rounded-1  shadow-none" type="search" placeholder="Search..." aria-label="Search" style="width:clamp(100px, 100%, 100%);">
                    <label class="FloatingInput">Receiver Name</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-floating">
                    <input id="EmailIdEmailLog" class="form-control rounded-1 shadow-none" type="search" placeholder="Provider Name" style="width:clamp(100px, 100%, 100%);">
                    <label class="FloatingInput">Email Id</label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-floating">
                    <input id="CreatedDateEmailLog" class="form-control rounded-1 me-2 py-2 shadow-none" type="date" placeholder="From Date Of Service" style="width:clamp(100px, 100%, 100%); padding-top:18px !important; ">
                    <label class="FloatingInput" style="padding-top:13px !important">Created Date</label>

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-floating">
                    <input id="SentDateEmailId" class="form-control rounded-1 me-2 py-2 shadow-none" type="date" placeholder="From Date Of Service" style="width:clamp(100px, 100%, 100%); padding-top:18px !important; ">
                    <label class="FloatingInput" style="padding-top:13px !important">Sent Date</label>

                </div>
            </div>


            <div class="d-flex justify-content-end col-md-2 mt-3">
                <button class="btn-info shadow-none rounded-3" id="searchEmailLogbtn">
                    Search
                </button>
                <button class="btn btn-outline-info rounded-3 py-2 px-3 mx-2 shadow-none" id="clearEmailLogbtn">
                    Clear
                </button>
            </div>
        </div>
        <div id="EmailLogTable" class="table-responsive pt-3">
        </div>
    </div>
</div>

<script src="/js//Records/EmailLog.js" asp-append-version="true"></script>