
.new {
    background-color: #e9eaef;
    color: #203f9a;
    border: 1px solid #203f9a;
}

.pending {
    background-color: #e5f2f8;
    color: #36a6c9;
    border: 1px solid #36a6c9;
}

.activecase {
    background-color: #e9f0e8;
    color: #367f40;
    border: 1px solid #367f40;
}

.conclude {
    background-color: #f7e6ee;
    color: #ac3d7d;
    border: 1px solid #ac3d7d;
}

.toclose {
    background-color: #e5eef5;
    color: #2573b0;
    border: 1px solid #2573b0;
}

.unpaid {
    background-color: #efeef4;
    color: #906cb6;
    border: 1px solid #906cb6;
}

.allstatus {
    width: 16.6% !important;
    padding: 4px!important;
}

.nav-link {
    padding: 8px!important;
}

.bottomarrow {
    position: absolute;
    left: 45%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: none;
    height: 0px;
    width: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border: 0px;
}


.nav-tabs .allstatus .nav-link.active .new {
    color: white;
    background-color: #203f9a;
}

    .nav-tabs .allstatus .nav-link.active .new + .bottomarrow {
        border-top: 15px solid #203f9a;
    }

.nav-tabs .allstatus .nav-link.active .pending {
    color: white;
    background-color: #36a6c9;
}

    .nav-tabs .allstatus .nav-link.active .pending + .bottomarrow {
        border-top: 15px solid #36a6c9 !important;
    }

.nav-tabs .allstatus .nav-link.active .activecase {
    color: white;
    background-color: #367f40;
}

    .nav-tabs .allstatus .nav-link.active .activecase + .bottomarrow {
        border-top: 15px solid #367f40 !important;
    }

.nav-tabs .allstatus .nav-link.active .conclude {
    color: white;
    background-color: #ac3d7d;
}

    .nav-tabs .allstatus .nav-link.active .conclude + .bottomarrow {
        border-top: 15px solid #ac3d7d;
    }

.nav-tabs .allstatus .nav-link.active .toclose {
    color: white;
    background-color: #2573b0;
}

    .nav-tabs .allstatus .nav-link.active .toclose + .bottomarrow {
        border-top: 15px solid #2573b0;
    }

.nav-tabs .allstatus .nav-link.active .unpaid {
    color: white;
    background-color: #906cb6;
}

    .nav-tabs .allstatus .nav-link.active .unpaid + .bottomarrow {
        border-top: 15px solid #906cb6;
    }

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border:none;
}


.mainnav .nav-tabs .nav-item.show .nav-link,
.mainnav .nav-tabs .nav-link {
    color: black;
}

.mainnav .nav-tabs .nav-link {
    border: 0;
}

    .mainnav .nav-tabs .nav-item.show .nav-link,
    .mainnav .nav-tabs .nav-link:hover {
        border: 0px;
        transform: none;
    }

    .mainnav .nav-tabs .nav-item.show .nav-link,
    .mainnav .nav-tabs .nav-link.active {
        border: 0;
        color: #0dcaf0;
        font-weight: 700;
        padding-top: 4px;
        border-bottom: 2px solid #0dcaf0;
        background-color: transparent;
    }


.green-dot {
    --bs-table-bg: #5fbc61 !important;
    color: #5fbc61 !important;

}

.orange-dot {
    --bs-table-bg: #ed9124 !important;
    color: #ed9124 !important;
}

.pink-dot {
    --bs-table-bg: #e4657c !important;
    color: #e4657c !important;
}

.cyan-dot {
    --bs-table-bg: #007fc6 !important;
    color: #007fc6 !important;
}

.purple-dot {
    --bs-table-bg: #933cb5 !important;
    color: #933cb5 !important;
}

#dtBasicExample td {
    color: white !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent !important;
}

.search-icon {
    margin-left:10px;
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
}

#dtBasicExample {
    width: -webkit-fit-content !important;
}
/*for accordion*/
/*.accordion-button::after {
    content: none;
}*/
.icn::before {
    border: 2px solid #0dcaf0;
    border-radius: 50%;
    line-height: 1;
    font-size: 13px;
    padding: 3px;
}

.icns::before {
    font-weight: 900 !important;
}

.viewCaseBtn {
    border: 2px solid #906cb6;
    background-color: #efeef4;
    color: #906cb6;
    transform: translateY(-15px);
    z-index: 5 !important;
}

.accordion-button::after{
    display:none;
}

.modal-footer{
    border:none;
}

.offcanvas{
    max-width: 70% !important;
    position:absolute !important;
    top:9% !important;
}

.offcanvas-backdrop{
    position:absolute !important;
}

input[type=radio] {
    accent-color: black;
}

.admin-layout-nav-active {
    border-bottom: 2px solid #17a2b8;
}

.admin-layout-nav {
    margin: 10px 5px;
    padding: 0px 5px 5px 5px!important;
    text-decoration: none;
}

.admin-layout-nav-mobile-active {
    background-color: lightgray;
}

@media only screen and (max-width:900px) {
    .allstatus {
        width: 33.3%!important
    }
}

@media only screen and (max-width:768px) {

    .nav-tabs .allstatus .nav-link.active .new + .bottomarrow,
    .nav-tabs .allstatus .nav-link.active .activecase + .bottomarrow,
    .nav-tabs .allstatus .nav-link.active .pending + .bottomarrow,
    .nav-tabs .allstatus .nav-link.active .unpaid + .bottomarrow,
    .nav-tabs .allstatus .nav-link.active .toclose + .bottomarrow,
    .nav-tabs .allstatus .nav-link.active .conclude + .bottomarrow {
        border-top: none !important;
    }

    .dashboardtab{
        padding:0px !important;
    }


    .icons {
        display: none;
    }

    .small {
        font-size: 0.75rem!important;
    }
}
